.form-comp input {
    margin: 0;
    width: 815px;
    height: 135px;
}

.form-comp .button {
    margin-bottom: 40px;
}

.error-msg {
    min-height: 80px;
    margin-top: 40px;
}

.error-msg p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #a59484;
}

* {
    box-sizing: border-box;
}

#task-date {
    width: 850px;
    height: 135px;
}
