.create-join-group-title {
    font-size: 50px;
    margin-bottom: 75px;
    color: #3d352f;
}

.join-group-title,
.create-group-title {
    font-size: 45px;
    margin: 0;
    font-weight: 600;
    color: #3d352f;
}

.create-join-group-button {
    margin-bottom: 40px;
}

.form-comp input {
    margin: 0;
}

#create-group-form,
#join-group-form {
    margin-top: 50px;
    margin-bottom: 1020px;
}

.error-msg {
    min-height: 80px;
    margin-top: 40px;
}
.error-msg p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #a59484;
}
