body {
    margin: 0;
    padding: 0;
    background-color: #f5ece4;
    font-family: "Lexend Deca", sans-serif;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

.center-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button {
    font-family: "Lexend Deca", sans-serif;
    background-color: #a59484;
    color: #f5ece4;
    width: 850px;
    height: 150px;
    border-radius: 100px;
    border-width: 0px;
    font-size: 45px;
    font-weight: 500;
}

.general-header {
    width: 100%;
    padding-top: 40px;
    padding-left: 50px;
}

/* back button */
.general-header img {
    width: 45px;
    height: auto;
}

.button {
    background-color: #d8c4b2;
    color: #655b53;
    width: 850px;
    height: 150px;
    border-radius: 20px;
    font-size: 45px;
    font-weight: 500;
}
/* contains navbar, hr, page title */
.top-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 0 10px 0;
}
/* buttons in top nav bar */
.top-navbar a {
    display: flex;
    height: 60px;
    width: 60px;
}
/* group name in header */
.top-navbar h1 {
    font-size: 60px;
    margin: 0;
    text-align: center;
    color: #3d352f;
}
.top-navbar hr {
    width: 85%;
    height: 4px;
    background-color: #a59484;
    border: none;
    margin-top: 10px;
}
/* contains only home button, group name, hub button */
.nav-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}
#page-title {
    font-size: 45px;
    color: #3d352f;
    margin-top: 5px;
}

.bottom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8c4b2;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.bottom-navbar a {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 60px;
    width: 60px;
}

.page-content {
    padding: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.buttons-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.buttons-list .button {
    text-align: left;
    padding-left: 50px;
    height: 135px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 450;
    font-size: 40px;
    border-width: 0px;
}
