body {
    margin: 0;
    padding: 0;
    background-color: #f5ece4;
    font-family: "Lexend Deca", sans-serif;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

.center-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button {
    font-family: "Lexend Deca", sans-serif;
    background-color: #a59484;
    color: #f5ece4;
    width: 850px;
    height: 150px;
    border-radius: 100px;
    border-width: 0px;
    font-size: 45px;
    font-weight: 500;
}

.general-header {
    width: 100%;
    padding-top: 40px;
    padding-left: 50px;
}

/* back button */
.general-header img {
    width: 45px;
    height: auto;
}

.bottom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8c4b2;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.bottom-navbar a {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 60px;
    width: 60px;
}
