body {
    margin: 0;
    padding: 0;
    background-color: #f5ece4;
    font-family: "Lexend Deca", sans-serif;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

.center-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-comp {
    margin-bottom: 10px;
}

.comp-title {
    font-size: 30px;
    color: #3d352f;
    font-weight: 750;
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-comp input {
    height: 130px;
    width: 850px;
    background-color: #fffbf8;
    border-width: 0px;
    border-radius: 30px;
    padding-left: 35px;
    margin-bottom: 25px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #a59484;
}

.form-comp input::placeholder {
    color: #a59484;
}

.submit-button {
    font-family: "Lexend Deca", sans-serif;
    background-color: #a59484;
    color: #f5ece4;
    width: 850px;
    height: 150px;
    border-radius: 100px;
    border-width: 0px;
    font-size: 45px;
    font-weight: 500;
}

.general-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 45px;
    padding-left: 50px;
}

.titled-general-header {
    position: relative;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.titled-general-header a {
    position: absolute;
    top: 45px;
    left: 50px;
}

.titled-general-header h1 {
    position: absolute;
    top: 40px;
}

/* back button */
.general-header img {
    width: 45px;
    height: auto;
}

.bottom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8c4b2;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.bottom-navbar a {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 60px;
    width: 60px;
}
