body {
    background-color: #f5ece4;
    font-family: "Lexend Deca", sans-serif;
}

.submit-button {
    background-color: #a59484;
    color: #f5ece4;
    width: 850px;
    height: 150px;
    border-radius: 100px;
    font-size: 45px;
    font-weight: 500;
}

.bottom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8c4b2;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.bottom-navbar a {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 60px;
    width: 60px;
}
