:root {
    --color-red: #ec9597;
    --color-red-orange: #f3a893;
    --color-orange: #fec183;
    --color-yellow: #fedb87;
    --color-green: #c2e3a8;
    --color-blue: #a6c6df;
    --color-blue-purple: #a6b1eb;
    --color-purple: #cbb6e6;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5ece4;
    font-family: "Lexend Deca", sans-serif;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

.center-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-comp {
    margin-bottom: 10px;
}

.comp-title {
    font-size: 30px;
    color: #3d352f;
    font-weight: 750;
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-comp input {
    height: 130px;
    width: 850px;
    background-color: #fffbf8;
    border-width: 0px;
    border-radius: 30px;
    padding-left: 35px;
    margin-bottom: 25px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #a59484;
}

.form-comp input::placeholder {
    color: #a59484;
}

.submit-button {
    font-family: "Lexend Deca", sans-serif;
    background-color: #a59484;
    color: #f5ece4;
    width: 850px;
    height: 150px;
    border-radius: 100px;
    border-width: 0px;
    font-size: 45px;
    font-weight: 500;
}

.general-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 45px;
    padding-left: 50px;
}

.titled-general-header {
    position: relative;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.titled-general-header a {
    position: absolute;
    top: 45px;
    left: 50px;
}

.titled-general-header h1 {
    position: absolute;
    top: 40px;
}

/* back button */
.general-header img {
    width: 45px;
    height: auto;
}

/* .button {
    background-color: #d8c4b2;
    color: #655b53;
    width: 850px;
    height: 150px;
    border-radius: 20px;
    font-size: 45px;
    font-weight: 500;
} */
/* contains navbar, hr, page title */
.top-navbar {
    background-color: #f5ece4;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
}
/* buttons in top nav bar */
.home-icon {
    height: 70px;
    width: 70px;
}
.hub-icon {
    height: 75px;
    width: 70px;
}
/* group name in header */
.top-navbar h1 {
    font-size: 60px;
    margin: 0;
    text-align: center;
    color: #3d352f;
}
.top-navbar hr {
    width: 90%;
    height: 4px;
    background-color: #a59484;
    border: none;
    margin-top: 25px;
}
/* contains only home button, group name, hub button */
.nav-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}
#page-title {
    font-size: 45px;
    font-weight: 600;
    color: #3d352f;
    margin-top: 20px;
}

.bottom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8c4b2;
    height: 140px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.bottom-navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.personal-task-icon {
    height: 95px;
    width: auto;
}

.group-task-icon {
    height: 120px;
    width: auto;
}

.manage-view-icon {
    height: 100px;
    width: auto;
}

.logout-icon {
    height: 60px;
    width: auto;
}

.bottom-navbar a.active {
    background-color: #a59484;
}

.page-content {
    padding: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.buttons-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 33px;
}

.button {
    background-color: #d8c4b2;
    color: #655b53;
    text-align: left;
    padding-left: 50px;
    width: 850px;
    height: 135px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 450;
    font-size: 38px;
    border-width: 0px;
    border-radius: 25px;
}
