.chorehero-title {
    font-size: 70px;
    color: #3d352f;
}

.landing-logo {
    width: 500px;
    height: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.slogan {
    font-size: 45px;
    color: #3d352f;
    font-weight: 500;
    margin-bottom: 75px;
}
