.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chorehero-title {
    font-size: 70px;
    color: #3d352f;
}

.landing-page img {
    width: 500px;
    height: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.slogan {
    font-size: 45px;
    color: #3d352f;
    font-weight: 500;
    margin-bottom: 75px;
}

.signup-login-link {
    font-size: 30px;
    color: #655b53;
    font-weight: 500;
    margin-top: 40px;
}

.signup-login-link a {
    color: #a59484;
    font-weight: 500;
}
