.signup-login-link {
    font-size: 30px;
    color: #655b53;
    font-weight: 500;
    margin-top: 30px;
}

.signup-login-link a {
    color: #a59484;
    font-weight: 500;
}

.logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-login-logo {
    width: 350px;
    height: auto;
}

.logo-header h1 {
    font-size: 50px;
    margin-bottom: 5px;
    color: #3d352f;
}

#signup-form,
#login-form {
    margin-bottom: 0px;
}

#login-form .submit-button {
    margin-top: 340px;
}

.error-msg {
    min-height: 40px;
    margin-top: -20px;
    margin-bottom: 20px;
}
.error-msg p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #a59484;
}

.input-wrapper {
    position: relative;
    width: 100%;
    display: block;
}

#toggle-password-icon,
#toggle-confirm-password-icon {
    width: 40px;
    height: 40px;
}

.toggle-password {
    position: absolute;
    top: 45%;
    right: 35px;
    transform: translateY(-50%);
    border: none;
    background: none;
}

.toggle-confirm-password {
    position: absolute;
    top: 43%;
    right: 35px;
    transform: translateY(-50%);
    border: none;
    background: none;
}
