#status-button {
    font-family: "Lexend Deca", sans-serif;
    background-color: #a59484;
    color: #f5ece4;
    height: 130px;
    width: 850px;
    border-radius: 100px;
    border-width: 0px;
    font-size: 35px;
    font-weight: 400;
    text-align: left;
    padding-left: 40px;
}

body.center-page {
    height: auto;
    overflow: hidden;
    min-height: 100vh;
    justify-content: flex-start;
    padding-top: 40px;
    box-sizing: border-box;
}

#task-view-form {
    margin-top: 50px;
    margin-bottom: 350px;
}

#task-view-form input {
    background-color: #d8c4b2;
    color: #655b53;
}

#task-view-form textarea {
    box-sizing: border-box;
    background-color: #d8c4b2;
    color: #655b53;
    resize: none;
    width: 850px;
    border-radius: 25px;
    border: none;
    font-family: "Lexend Deca", sans-serif;
    font-size: 35px;
    font-weight: 400;
    padding: 40px;
    margin-bottom: 25px;
    line-height: 50px;
}

#task-view-form input::placeholder {
    color: #655b53;
}

#task-view-form textarea::placeholder {
    color: #655b53;
}
